<div class="container mt-5">
  <h1>Create a new List!</h1>
  <%= link_to "back to Lists", lists_path, class: "btn btn-primary" %>
  <div class="mt-3">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
  </div>
</div>
